# Week 02 Class: Exercises

In this exercise, we will review python basics.

## Variables

### Create variables

Let's start with a very simple exercise of creating new variables



1.   Variable called var_a with value of 3
2.   Variable called var_b with value of 100
3.   String variable str_var_a with value of "GV918"
4.   String variable str_var_a with value of "Data for Social Data Science"

In [88]:
var_a = 3
var_b = 100
str_var_a = 'GV918'
str_var_a = 'Data for Social Data Science'

### Variable operations



*   Add var_a and var_b
*   Subtract var_a from var_b
*   Multiply var_a and var_b
*   Divide var_b by var_a

In [89]:
var_a + var_b

103

In [90]:
var_b - var_a

97

In [91]:
var_a * var_b

300

In [92]:
var_b / var_a

33.333333333333336

# Saving on Github

- Before going to the next section, let's save the work on github.

## Lists

### Create lists

1. Create a list, list_a, with values of 1, 3, 4, 5, 9, 2, 4.5
2. Create a list, list_b, with words from "this is a simple string list" 
  - You can type all or use `*.split` method

In [93]:
list_a = [1, 3, 4, 5, 9, 2, 4.5]

In [94]:
my_str = "this is a simple string list"

In [95]:
my_str.split(" ")

['this', 'is', 'a', 'simple', 'string', 'list']

In [96]:
my_str = my_str.split(" ")

In [97]:
my_str

['this', 'is', 'a', 'simple', 'string', 'list']

### Slicing lists

- From the first list, extract a sublist with elements of:
    -   1, 3, 4
    -   9, 2, 4.5
    -   4, 5, 9

In [98]:
list_a[0:3]

[1, 3, 4]

In [99]:
list_a[4:7]

[9, 2, 4.5]

In [100]:
list_a[2:5]

[4, 5, 9]

## Manipulating lists

- Append an element (e.g. 100) to list_a
- Replace the second element of list_a to 12

In [101]:
list_a.append(100)

In [102]:
list_a[1] = 12

In [103]:
list_a

[1, 12, 4, 5, 9, 2, 4.5, 100]

### Concatenate lists

- Concatenate list_a and list_b
- Use `+`

In [104]:
list_c = list_a + list_b

In [105]:
list_c

[1, 12, 4, 5, 9, 2, 4.5, 100, 'this', 'is', 'a', 'simple', 'string', 'list']

### Copying lists

Do the following operations
- Assign `lsit_a` to `list_a2`
- Change the value of `list_a2[0]` to 7
- Check the value of `list_a` and `list_a2`

What do you find?

In [106]:
list_a2 = list_a
list_a2

[1, 12, 4, 5, 9, 2, 4.5, 100]

In [107]:
list_a2[0] = 7
list_a2

[7, 12, 4, 5, 9, 2, 4.5, 100]

In [108]:
list_a

[7, 12, 4, 5, 9, 2, 4.5, 100]

## Dictionary

- create a dictionary with the follwoing key-value pairs
    *   a: 10
    *   b: 20
    *   c: 70n
- add some new key and value

In [121]:
my_dic = {"a":10, "b":20, "c":70}

In [122]:
my_dic

{'a': 10, 'b': 20, 'c': 70}

In [127]:
my_dic["d"] = "new value"

In [124]:
my_dic

{'a': 10, 'b': 20, 'c': 70, 'd': 'new value'}

## (Optional) String operation

### Concatenation

Let's do some string operation

In [109]:
str_1 = "Hello"
str_2 = "world"
str_3 = "!"

How to concateneate them to craete "Hello world?"
[https://www.w3schools.com/python/python_strings.asp](https://www.w3schools.com/python/python_strings.asp)

In [128]:
str_1 + str_2 + str_3

'Helloworld!'

### Formatting

Read the section of **String Format** and try to generate "Today is 13-10-2020"

In [135]:
year = 2020
month = 10
date = 13
fill_str = "Today is {} {}, {}" ## this part has to be changed

In [136]:
print (fill_str.format(year, month, date))

Today is 2020 10, 13

In [111]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).